ENV_TYPE="development"

DATABASE_URL="postgresql://docker:docker@localhost:5432/simplauth-zero"

BROWSER_URL="http://localhost"
PORT=3000

JWT_SECRET="chave_secreta"
JWT_ATOKEN_EXPIRES_IN="5m"
JWT_RTOKEN_EXPIRES_IN="7d"

# 7 dias em milisegundos
JWT_RTOKEN_EXPIRES_MS=604800000
